<p><%= t("admin.auth.mailer.password_reset_instructions.greeting", default: "Hello %{email}!", email: @user.email) %></p>

<p><%= t("admin.auth.mailer.password_reset_instructions.message", default: "Someone has requested a link to change your password. You can do this through the link below.") %></p>

<p><%= link_to t("admin.auth.mailer.password_reset_instructions.action", default: "Change my password"), trestle.edit_password_url(@user.password_reset_token) %></p>

<p><%= t("admin.auth.mailer.password_reset_instructions.ignore", default: "If you didn't request this, please ignore this email.") %></p>
<p><%= t("admin.auth.mailer.password_reset_instructions.unchanged", default: "Your password won't change until you access the link above and create a new one.") %></p>
